<head>
    <meta charset="utf-8">
    <title>
    </title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script defer src="counter.js"></script>

</head>