<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="../collectors/collectors.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../collectors/collectorsHome.js"></script>


</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="../contactus.html">Contact Us</a></li>
            <li style="float:right"><a href="signup.html">Sign up</a></li>
            <li style="float:right"><a class="active" href="login.html">Login</a></li>
        </ul>
    </div>

    <div class="hero-image">
        
        <div class="hero-text">
            <h1 style="font-size:50px">Welcome, Collector</h1>
        </div>
    </div>

    <div class="buttons" style="left:27%; width: 50%;">
        
        <a class="button-one" onclick="showRequestsTable();">View Requests</a>
        <a class="button-two" onclick="modalAdd();">Add Donation</a>
    </div>
    <div class="middle">

        <script>
            var requestsList = <%- JSON.stringify(requests) %>  
        </script>

        <%-include('../partials/addDonationModal.ejs')%>

        <table id="usersTable" class="table-MA">
            <thead>
                <tr>
                    <th>Form ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Blood Type</th>
                    <th>Email Address</th>
                    <th>Weight</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>

    </div>

</body>
<footer>
    <div class="footer-basic">
        <footer>
            <hr><br>
            <div class="social">
                <a href="https://www.instagram.com" target="_blank"><i class="icon ion-social-instagram" ></i></a>
                <a href="https://www.snapchat.com" target="_blank"><i class="icon ion-social-snapchat"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home.html">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <br>
            <p class="copyright">Blood Bank Inc. © 2021</p>
        </footer>
    </div>

</footer>

</html>


</body>

</html>